@model TaskTrackingApp.Models.Project
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}


<h2 class="my-4">Delete Project</h2>

<form action="/projects/delete/@Model.ProjectID" method="post">

    <div class="form-group col-md-6 mb-3">
        <label for="ProjectName" class="mb-2">Project Name</label>
        <input type="hidden" name="ProjectID" value="@Model.ProjectID" />
        @Model.ProjectName
    </div>

    <button type="submit" class="btn btn-info">Delete</button>
    <a href="/projects/index" class="img-thumbnail btn btn-danger">Cancel</a>
</form>
